// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//colors
$color-list: (
  color-primary: #ff69b4,
  color-secondary: #32cd32,

);


// $colors: (
$color-primary: (
  color-hex: map-get($color-list, color-primary),
  color-name: "Hot Pink",
  color-rgb: "255 / 105 / 180",
  color-hsl: "330deg / 100% / 71%",
  light: lighten(map-get($color-list, color-primary), 5%),
  dark: darken(map-get($color-list, color-primary), 5%)
);

$color-secondary: (
  color-hex: map-get($color-list, color-secondary),
  color-name: "Lime Green",
  color-rgb: "50 / 205 / 50",
  color-hsl: "120deg / 61% / 5%",
  light: lighten(map-get($color-list, color-secondary), 5%),
  dark: darken(map-get($color-list, color-secondary), 5%)
);

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default

/// Container's maximum width
/// @type Length
$max-width: 1180px !default

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ("small": 320px, "medium": 768px, "large": 1024px) !default

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default
